.card {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.jumbotron {
  height: 30vh;
}

#error-login {
  margin-left: 10px;
  color: red;
}

#success {
  width: 30%;
  height: 15vh;
}
#success h1 {
  color: blue;
}

#delete {
  margin-top: 20%;
  margin-bottom: 5%;
  float:right;
}

#profile {
  width: 50%;
}